@use "../helpers" as *;

.product-summary {
    display: flex;
    flex-direction: column;
    width: auto;

    @include mobile {
        margin-top: var(--st-container-padding-x);
    }

    &__inner {
        width: 100%;
        margin-bottom: rem(10);
        padding: rem(20);
        border: var(--st-border);
        border-radius: var(--st-border-radius);
    }

    &__title {
        margin: 0;
    }

    &__sku {
        @include fluid-text(12, 16);
        color: var(--st-c-gray);
        width: 100%;
    }

    &__flex-wrap {
        @include flex-between;
        flex-wrap: wrap;
        gap: rem(10);
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: rem(6);
    }

    &__stars {
        color: var(--st-c-accent);
        width: auto;
        position: relative;
        display: inline-block;
        height: 1em;
        overflow: hidden;
        line-height: 1;
        font-size: rem(16);
        letter-spacing: 1px;

        &::before,
        span::before {
            content: "★★★★★";
            letter-spacing: 1px;
        }

        &::before {
            color: var(--st-c-gray);
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            overflow: hidden;

            &::before {
                color: inherit;
            }
        }
    }

    &__rating-count {
        font-size: rem(14);
        color: var(--st-c-gray-2);
        line-height: 1;
    }

    &__stock {
        @include fluid-text(16, 18);

        p {
            display: block !important;
        }

        .in-stock {
            color: var(--st-c-accent)
        }

        .out-of-stock {
            color: var(--st-c-red)
        }
    }

    &__price {
        @include fluid-text(20, 32);
        font-weight: 500;

        .price {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            gap: rem(16);
        }

        del {
            @include fluid-text(16, 22);
            color: var(--st-c-gray);
        }
    }
    
    .woocommerce-variation.single_variation {
        @include hide;
        height: 0;
        width: 0;
    }

    button.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
    }

    .reset_variations {
        display: none;
    }
}
