@use "../helpers" as *;

.tabs {
    &__list {
        display: flex;
        height: rem(60);
        background: var(--st-c-light-translucent);
        gap: rem(20);
        border-bottom: 1px solid var(--st-c-gray);

        @include tablet {
            position: sticky;

            top: calc(rem(130) + var(--st-top-header-position));
            transition: top var(--st-transition-duration-2);

            z-index: 10;
            margin-inline: calc(var(--st-container-padding-x) * -1);
            padding-inline: var(--st-container-padding-x);
        }
    }

    &__item {
        &.is-active {
            color: var(--st-c-accent);
            border-bottom: 2px solid var(--st-c-accent);
        }
    }

    &__link {
        @include flex-center;
        
        min-height: 100%;
        transition: 0.3s;
        text-align: center;
    }

    &__panel {
        display: none;
        padding: 20px 0;

        &.is-active {
            display: block;
            animation: fadeIn 0.4s ease;
        }
    }

    table {
        width: 100%;
        text-align: left;

        tr {
            border-radius: var(--st-border-radius-3);
            overflow: hidden;
            
            &:nth-child(odd) {
                background-color: var(--st-c-gray-light);
            }
        }

        th, td {
            height: rem(35);
            padding: rem(10);
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

.login-tabs {
    @include flex-center;
    
    flex-direction: column;

    &__list {
        position: static;
    }

    &__list, &__content, .woocommerce-notices-wrapper {
        width: rem(500);
        
        @include mobile {
            width: 100%;
        }
    }
}