@use "sass:math";

@function rem($pixel) {
	@if math.is-unitless($pixel) {
		@return math.div($pixel, 16) + rem;
	} @else {
		@error "Don't use units of measurement when working with the rem() function! Pass only numbers as arguments."
	}
};

@function fluid($min, $max, $min-vw: 360, $max-vw: 1440) {
	$minSize: math.div($min, 16);
	$maxSize: math.div($max, 16);

	$minWidth: math.div($min-vw, 16);
	$maxWidth: math.div($max-vw, 16);

	$slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
	$yAxisIntersection: -$minWidth * $slope + $minSize;

	@return clamp(
		#{$minSize * 1rem},
		#{$yAxisIntersection * 1rem} + #{$slope * 100vw},
		#{$maxSize * 1rem}
	);
}